*{margin: 0;padding: 0;	box-sizing:border-box;}
ul,ol{list-style-type: none;}
img{vertical-align: top;}
a{text-decoration: none;}
em,i{font-style: normal;}
input{outline: none; background-color: transparent; border: none;}
.clearfix{zoom:1;}     
.clearfix::after,.clearfix::before{content:'';display:block;width:0;height:0;visibility:hidden;clear:both;}
.fl{float: left;}
.fr{float: right;}
.hearder_z{width: 100%;height:80px;background: #f7f7f7;border-bottom: 1px solid #e5e5e5;padding: 0 10%;line-height: 80px;}
.img_z img{margin-top: 12px;}
.z_z{background: rgb(194, 181, 181);color: white;border: 1px solid black;font-size: 16px;}
.z_z:hover{cursor: pointer;}
.list_z li{text-align: center;width: 120px;}
.a_z{font-size: 30px;}
.z_login_up{color: #cccccc}
.z_login_in:hover,.z_login_up:hover{color: red;cursor: pointer;transition:.5s;}